body.light {
	background-color: white;
}

.hero-title.light {
	transition: all 1s ease-in-out;
	h1,
	h2 {
		color: $bg-color;
	}
}

.hero-anim.light svg path {
	stroke: $bg-color;
}

.bg-text.light {
	color: $bg-color;
	opacity: 0.8;
}

.work-card.light {
	background-color: white;
	border: 1px solid #dbdbdb;

	h2,
	h3,
	p {
		color: $bg-color;
	}
}

.skills-card.light,
.contact-card.light {
	background-color: white;
	h3,
	p {
		color: $bg-color;
	}
}

.contact-card.light h4 {
	color: $bg-color;
}

.skills-card.light .top-icon .icon-bg {
	background-color: $bg-color;
}
.icons-collection.light svg path {
	fill: $bg-color;
}

.skills-list.light > ul > li {
	color: $bg-color;
	list-style-image: url("../svg/check-dark.svg");
}
.toggle-appearance.light svg path {
	fill: white;
}

.testimonial-wrapper.light {
	h2,
	h4 {
		color: $bg-color;
	}
}

.client-logos.light > h2 {
	color: $bg-color;
	opacity: 0.5;
}

.photos-overlay.light {
	background-color: rgba(72, 146, 139, 0.75);
	// background-color: rgba(236, 255, 251, 0.9);
}

.contact-wrapper.light {
	h1,
	h2 {
		color: $bg-color;
	}
}

footer.light {
	background-color: $bg-color;
}
