body.light {
	background-color: $prim-text-color;
}

.hero-title.light {
	transition: all 1s ease-in-out;
	h1,
	h2 {
		color: $bg-color;
	}
}

.hero-anim.light svg path {
	stroke: $bg-color;
}

.bg-text.light {
	color: $bg-color;
	opacity: 0.2;
}

.work-card.light {
	background-color: white;
	border: 1px solid #dbdbdb;

	h2,
	h3,
	p {
		color: $bg-color;
	}
}

.skills-card.light,
.contact-card.light {
	background-color: white;
	h3,
	p,
	a {
		color: black;
	}
}

.skills-card.light .top-icon .icon-bg {
	background-color: black;
}
.icons-collection.light svg path {
	fill: black;
}

.toggle-appearance.light svg path {
	fill: white;
}

.contact-wrapper.light {
	h1 {
		color: $bg-color;
	}
}
