body.light {
	background-color: white;
}

.nav-links.light ul li a {
	color: black;
}

.hero-title.light {
	transition: all 1s ease-in-out;
	h1,
	h2 {
		color: $bg-color;
	}
}

.hero-anim.light svg path {
	stroke: $bg-color;
}

.bg-text.light {
	color: $bg-color;
	opacity: 0.8;
}

.work-card.light {
	background-color: white;
	border: 1px solid #dbdbdb;

	h2,
	h3,
	p {
		color: $bg-color;
	}
}

.skills-card.light,
.contact-card.light {
	background-color: white;
	h3,
	p {
		color: black;
	}
}

.contact-card.light h4 {
	color: black;
}

.skills-card.light .top-icon .icon-bg {
	background-color: black;
}
.icons-collection.light svg path {
	fill: black;
}

.skills-list.light > ul > li {
	color: black;
}
.toggle-appearance.light svg path {
	fill: white;
}

.photos-overlay.light {
	background-color: rgba(236, 255, 251, 0.9);
	h3,
	p {
		color: $bg-color;
	}
}

.contact-wrapper.light {
	h1 {
		color: $bg-color;
	}
}
