//projects section

#projects {
	@include width(90%);
	margin-top: 20rem;
	margin-bottom: 20rem;
}

#projects h1 {
	text-align: center;
	font-size: 8rem;
}

.projects-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-gap: 5rem;
	justify-items: center;
}

.project-card {
	background-color: $dark-card-color;
	max-width: 60rem;
	border-radius: 20px;
	// min-height: 50vh;
	margin: 4rem 2rem;
	padding: 6rem 4rem;
	// border: 1px solid #242424;
	@include shadow();
	@include flex(space-around, center, column);
	// flex: 1 1 20rem;
	img,
	h3,
	p {
		margin-bottom: 3.2rem;
	}
	p {
		text-align: center;
		max-width: 80%;
	}
	img {
		max-width: 85%;
	}
	h5 {
		color: #808080;
		font-size: 1.6rem;
		font-weight: bold;
	}
}

//WORK SECTION

.work-section {
	@include width(98%);
	margin-top: 20rem;
	margin-bottom: 20rem;
	position: relative;
}

.work-wrapper {
	@include flex(space-evenly, space-evenly, row);
	flex-wrap: wrap;
}

.work-card {
	background-color: $dark-card-color;
	min-height: 50vh;
	min-width: 95%;
	border-radius: 20px;
	margin: 4rem 2rem;
	padding: 6rem 4rem;
	// border: 1px solid #242424;
	@include shadow();
	@include flex(space-around, center, column);
	flex: 1 1 40rem;
	h2,
	h3,
	p {
		margin-bottom: 3rem;
	}
	h2,
	h3 {
		text-align: center;
	}
	h3 {
		font-size: 3rem;
	}
	p {
		line-height: 4rem;
		max-width: 85%;
	}
}

.work-card-header {
	@include flex(center, center, row);
	margin: 0 3rem;
	img {
		max-width: 10rem;
		min-width: 8rem;
		margin-bottom: 2rem;
		margin-right: 2rem;
	}
	h2 {
		margin-bottom: 3rem;
		text-align: center;
	}
}

.bg-text {
	text-align: center;
	opacity: 0.7;
	font-size: 14rem;
	text-align: center;
}

#work-bg-circle {
	position: absolute;
	z-index: -1;
	top: 40%;
	left: 0;
	transform: scale(2);
	animation: bg-anim 10s infinite;
}

@keyframes bg-anim {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

//SKILLS SECTION
.skills-section {
	@include width(95%);
	position: relative;
	margin-top: 20rem;
}

.skills-wrapper {
	position: relative;
	display: grid;
	@include flex(center, space-evenly, row);
	flex-wrap: wrap;
}

.skills-card {
	background-color: $dark-card-color;
	min-height: 55vh;
	min-width: 30rem;
	margin: 4rem 2rem;
	padding: 2rem;
	border: 7px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to bottom right, $green1, $green2);
	@include shadow();
	@include flex(space-around, center, column);
	flex: 1 1 calc(10% - 1rem);
	h3 {
		text-align: center;
		margin-bottom: 3rem;
		color: white;
	}
	.icons-collection {
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1.8rem;
	}
}

.skills-card:nth-child(6) {
	max-width: 40rem;
}
.skills-card:nth-child(4) {
	flex: 2;
}

.icons-collection.icons-design {
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2.4rem;
}

.flex-break {
	flex-basis: 100%;
	width: 0;
}

.icons-collection svg path {
	@include shadow();
}

.icons-collection svg {
	transition: all 250ms ease;
	width: 100%;
	overflow: visible;
}

.icons-collection:hover svg {
	transform: scale(0.9);
	opacity: 0.5;
	filter: blur(3px);
}
.icons-collection:hover svg:hover {
	transform: scale(1.2);
	filter: blur(0px);
	opacity: 1;
}

.top-icon {
	position: relative;
	margin-bottom: 3rem;
	svg {
		position: absolute;
		transform: translate(-50%, -50%);
		transform-origin: center;
		top: 50%;
		left: 50%;
	}
}

.skills-list li {
	list-style-position: inside;
	list-style-image: url('../svg/check-white.svg');
	margin-bottom: 2rem;
	font-weight: 600;
	text-align: center;
	color: white;
	transition: all 200ms ease;
}

.skills-list:hover li {
	transform: scale(0.9);
	opacity: 0.5;
	filter: blur(3px);
}

.skills-list:hover li:hover {
	transform: scale(1.1);
	filter: blur(0px);
	opacity: 1;
}
.icon-bg {
	background-color: $bg-color;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	@include shadow();
}

.design-bg {
	position: absolute;
	top: 75%;
	left: -10%;
	z-index: -1;
}

//CLIENT LOGOS

.client-logos {
	background-color: $prim-text-color;
	margin-top: 20rem;
	position: relative;
	@include flex(center, center, column);
	h2 {
		color: $bg-color;
		text-align: center;
		font-size: 3.6rem;
	}
	&::before,
	&::after {
		content: '';
		width: 100%;
		height: 0.5rem;
		background: linear-gradient(to right, $green1, $green2);
		opacity: 0.75;
	}
}

.client-logos h2 {
	position: absolute;
	color: $prim-text-color;
	top: -17%;
	opacity: 0.75;
}

.logos-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	align-items: center;
	@include width(80%);
}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5 {
	flex: 1 1 20rem;
	margin: 4rem 2rem;
	max-width: 20rem;
	transition: all 320ms ease;
}

.logo4,
.logo5 {
	max-height: 10rem;
}

.logos-wrapper:hover img {
	transform: scale(0.9);
	opacity: 0.5;
	filter: blur(3px);
}
.logos-wrapper:hover img:hover {
	transform: scale(1.1);
	filter: blur(0px);
	opacity: 1;
}

//TESTIMONIALS SECTION

.testimonial-section {
	@include width(90%);
	margin-top: 20rem;
}

.testimonial-wrapper {
	text-align: center;
	@include flex(center, center, column);
	h2,
	h4 {
		margin-bottom: 3rem;
	}
	h2 {
		font-size: 3.6rem;
		line-height: 6rem;
	}
	h4 {
		line-height: 4rem;
		font-size: 2rem;
		font-weight: 600;
	}
}

.testimonial-wrapper > h2 > span:nth-child(n) {
	color: $green1;
}
.testimonial-wrapper h2 span:nth-child(2) {
	color: $green2;
}

//PHOTOGRAPHY

.photography {
	@include width(95%);
	margin-top: 20rem;
}

.photo-wrapper {
	text-align: center;
	margin-top: 20rem;
	h3,
	p {
		margin: 4rem;
	}
	position: relative;
}

.photos-overlay {
	position: absolute;
	min-width: 25rem;
	z-index: 2;
	background-color: rgba(72, 146, 139, 0.75);
	// background-color: rgba(40, 40, 40, 0.9);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include shadow();
	p {
		font-weight: 600;
	}
}

.photo-grid {
	line-height: 0;
	column-count: 3;
	column-gap: 0px !important;
}

.photo-grid img {
	width: 100% !important;
	height: auto !important;
	object-fit: cover;
}

@media (max-width: 800px) {
	.photo-grid {
		column-count: 2;
	}
}
@media (max-width: 400px) {
	.photo-grid {
		column-count: 1;
	}
}

//ABOUT SECTION

.about-section {
	@include width(95%);
	margin-bottom: 5rem;
	margin-top: 20rem;
}

.about-wrapper {
	@include flex(center, center, column);
	h1 {
		text-align: center;
		margin-bottom: 4rem;
	}
}

.about-card {
	background-color: $dark-card-color;
	border: 7px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to bottom right, $green1, $green2);
	flex-wrap: wrap;
	@include shadow();
	p {
		text-align: center;
		line-height: 3.6rem;
	}
}

.about-content {
	@include flex(space-between, center, row);
	flex-wrap: wrap;
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.about-text {
	@include flex(center, center, column);
	flex: 2 1 35rem;
	margin: 0 2rem 0 2rem;
	padding: 4rem 2rem;
	h2,
	p {
		margin-bottom: 3rem;
	}
	h2 {
		margin-top: 3rem;
	}
	p {
		line-height: 4rem;
	}
}

.about-image {
	flex: 1 1 40rem;
	width: 100%;
	height: 60rem;
	background-image: url('../img/IMG_1399_opt-2.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
