//WORK SECTION

.work-section {
	@include width(95%);
	// overflow-x: hidden;
	margin-bottom: 20rem;
	position: relative;
}

.work-wrapper {
	@include flex(space-evenly, space-evenly, row);
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	// grid-gap: 5rem;;;;;
}

.work-card {
	background-color: $dark-card-color;
	min-height: 50vh;
	margin: 4rem 2rem;
	padding: 4rem 3rem;
	border: 1px solid #242424;
	@include shadow();
	@include flex(space-around, center, column);
	flex: 1 1 20rem;
	h2,
	h3,
	p {
		margin-bottom: 3rem;
	}
	h2,
	h3 {
		text-align: center;
	}
	h3 {
		font-size: 3rem;
	}
	p {
		line-height: 4rem;
	}
}

.work-card-header {
	@include flex(center, center, row);
	margin: 0 2rem;
	img {
		max-width: 10rem;
		min-width: 8rem;
		margin-bottom: 2rem;
	}
	h2 {
		margin-bottom: 3rem;
		text-align: center;
	}
}

.bg-text {
	text-align: center;
	opacity: 0.7;
	font-size: 15rem;
	text-align: center;
}

#work-bg-circle {
	position: absolute;
	z-index: -1;
	top: 40%;
	left: 0;
	transform: scale(2);
	animation: bg-anim 10s infinite;
}

@keyframes bg-anim {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

//SKILLS SECTION
.skills-section {
	@include width(95%);
	position: relative;
	// overflow-x: hidden;
	margin-bottom: 20rem;
}

.skills-wrapper {
	position: relative;
	display: grid;
	@include flex(center, center, row);
	flex-wrap: wrap;
	// grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	// grid-gap: 5rem;
	// justify-content: center;
	// align-content: center;;;;
}

.skills-card {
	background-color: $dark-card-color;
	min-height: 50vh;
	min-width: 30rem;
	margin: 4rem 2rem;
	padding: 2rem;
	border: 7px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to bottom right, $green1, $green2);
	@include shadow();
	@include flex(space-around, center, column);
	flex: 1 1 calc(10% - 1rem);
	h3 {
		text-align: center;
		margin-bottom: 3rem;
		color: white;
	}
	.icons-collection {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.8rem;
		transition: all 500ms ease;
	}
}

.skills-card:nth-child(0) {
	flex-basis: 100%;
}

.flex-break {
	flex-basis: 100%;
	width: 0;
}

.icons-collection svg path {
	@include shadow();
}

.icons-collection:hover svg {
	transform: scale(0.9);
	opacity: 0.5;
	filter: blur(3px);
}
.icons-collection:hover svg:hover {
	transform: scale(1.2);
	filter: blur(0px);
	opacity: 1;
}

.top-icon {
	position: relative;
	margin-bottom: 3rem;
	svg {
		position: absolute;
		transform: translate(-50%, -50%);
		transform-origin: center;
		top: 50%;
		left: 50%;
	}
}

.icon-bg {
	background-color: $bg-color;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	@include shadow();
}

.design-bg {
	position: absolute;
	top: 75%;
	left: -10%;
	z-index: -1;
}

//CONTACT SECTION

.contact-section {
	@include width(95%);
	margin-bottom: 10rem;
	margin-top: 20rem;
}

.contact-wrapper {
	@include flex(center, center, column);
	h1 {
		text-align: center;
		margin-bottom: 4rem;
	}
}

.contact-card {
	background-color: $dark-card-color;
	min-height: 50vh;
	padding: 3rem;
	border: 7px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to bottom right, $green1, $green2);
	@include shadow();
	@include flex(space-around, center, column);
	flex-wrap: wrap;
	h3 {
		text-align: center;
		margin-bottom: 3rem;
		color: white;
	}
	a {
		font-size: 3rem;
		color: white;
		text-align: center;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		text-align: center;
		line-height: 3.6rem;
	}
}

.about-header {
	@include flex(center, center, row);
	img {
		margin: 0 2rem 3rem 0;
	}
}
