* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: $bg-color;
	overflow-x: hidden;
}

h1 {
	font-size: $header1;
	font-family: "Open Sans Condensed", sans-serif;
	color: white;
}

h2 {
	font-size: $header2;
	font-family: "Open Sans Condensed", sans-serif;
	color: white;
}

h3 {
	font-size: $header3;
	font-family: "Open Sans Condensed", sans-serif;
	color: white;
}

h4 {
	font-size: $header4;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: white;
}
h5 {
	font-size: $header5;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: white;
}

li,
button,
a,
p,
input,
label {
	font-size: $text;
	font-family: "Raleway", sans-serif;
	line-height: 3.2rem;
	color: white;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $grey-text;
}

.cta-btn {
	padding: 1.5rem 4rem;
	background: linear-gradient(to bottom right, $green1, $green2);
	text-align: center;
	// margin: 2rem 0;
	color: white;
	font-weight: 600;
	font-size: 1.8rem;
	transition: all 200ms ease;
	&:hover {
		background: linear-gradient(to bottom right, #00ead6, #6effa3);
		// color: $bg-color;
		transform: scale(1.05);
	}
}

// $green1: #00a295;
// $green2: #5dd98a
