//NAV SECTION

nav {
	min-height: 5vh;
	background: linear-gradient(to bottom right, $green1, $green2);
	@include shadow();
}

#logo {
	z-index: 3;
	color: white;
}

.nav-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom right, $green1, $green2);
	height: 100%;
	width: 100%;
	transform: translateX(100%);
	// clip-path: circle(50px at 100% -10%);
	// display: none;
}

.nav-header {
	width: 95%;
	margin: auto;
	padding: 1rem;
	@include flex(space-between, center, row);
}

body.hide {
	overflow: hidden;
}

.line2.hide {
	display: none;
}

.appearance-toggle {
	cursor: pointer;
	z-index: 2;
}

.appearance-toggle #toggle-bg {
	@include shadow();
}

.burger {
	@include flex(center, center, column);
	z-index: 2;
	cursor: pointer;
	.line1,
	.line2,
	.line3 {
		height: 0.5rem;
		width: 3.6rem;
		background-color: white;
		pointer-events: none;
		// @include shadow();
	}
	.line1,
	.line2 {
		margin-bottom: 0.7rem;
	}
}

.nav-links {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
	ul {
		@include flex(space-around, center, column);
	}
	li a {
		color: white;
		font-size: 4rem;
		line-height: 5rem;
		font-weight: 700;
	}
}

.nav-links > ul > li {
	&:hover {
		color: white;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #000;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover::before {
		visibility: visible;
		transform: scaleX(1);
	}
}

.nav-link-item {
	@include flex(center, center, row);
	margin: 2rem;
	svg {
		margin-right: 2rem;
	}
}

.nav-link-item h2 {
	color: white;
	text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
}

// .nav-links li:nth-child(1) {
// 	list-style-image: url("../svg/metro-wrench.svg");
// }
// .nav-links li:nth-child(2) {
// 	list-style-image: url("../svg/Icon\ awesome-hammer.svg");
// }
// .nav-links li:nth-child(3) {
// 	list-style-image: url("../svg/Icon\ awesome-trophy.svg");
// }
// .nav-links li:nth-child(4) {
// 	list-style-image: url("../svg/Icon\ material-email.svg");
// }

.social-icons {
	padding: 2rem;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	ul {
		@include flex(space-around, center, row);
	}
}

//HERO SECTION

.hero-section {
	// min-height: 80vh;
	// margin-bottom: 5rem;
	overflow-x: hidden;
}

.hero-wrapper {
	@include width(80%);
	@include flex(center, center, row);
	flex-wrap: wrap;
}

.hero-title {
	@include flex(center, center, column);
	flex: 1 1 20rem;
	margin-bottom: 3rem;
	h1 {
		font-family: "Raleway", sans-serif;
		font-size: 3rem;
		text-align: left;
		margin-bottom: 2rem;
		margin-top: 4rem;
	}
	h2 {
		font-size: 5rem;
		margin-bottom: 2rem;
	}
}
.hero-anim-section {
	margin-top: 10rem;
	flex: 1 1 40rem;
}
.hero-anim {
	@include flex(center, center, column);
}

.box1,
.box2 {
	width: 6rem;
	height: 6rem;
	@include shadow();
}

.box1 {
	background-color: $green1;
}
.box2 {
	background-color: $green2;
}

//FOOTER

footer {
	@include flex(center, center, column);
	// background: linear-gradient(to bottom right, $green1, $green2);
	// background-color: #00201d;
	padding: 2rem 0;
	overflow-x: hidden;
	width: 100%;
	h3 {
		margin-bottom: 2rem;
		color: white;
	}
}

.social-icons-footer {
	padding: 2rem;
	width: 100%;
	ul {
		@include flex(space-around, center, row);
	}
}
