//NAV SECTION

nav {
	// min-height: 5vh;
	background: linear-gradient(to bottom right, $green1, $green2);
	@include shadow();
}

#logo {
	z-index: 2;
	// transform: scale(0.35);
	svg {
		height: 3.8rem;
		width: 100%;
		text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
	}
}

.nav-overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(to bottom right, $green1, $green2);
	height: 100%;
	width: 100%;
	transform: translateX(100%);
	// clip-path: circle(50px at 100% -10%);
	// display: none;
}

.nav-header {
	@include width(95%);
	padding: 0.5rem;
	@include flex(space-between, center, row);
}

body.hide {
	overflow: hidden;
}

.line2.hide {
	display: none;
}

.appearance-toggle {
	cursor: pointer;
	z-index: 2;
	position: relative;
	@include expand();
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.dark-bg {
	height: 2.7rem;
	width: 2.7rem;
	background-color: white;
	border-radius: 50%;
	text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
}

.appearance-toggle #toggle-bg {
	@include shadow();
}

.burger {
	@include flex(center, center, column);
	z-index: 2;
	cursor: pointer;
	.line1,
	.line2,
	.line3 {
		height: 0.4rem;
		width: 2.8rem;
		background-color: white;
		pointer-events: none;
		// @include shadow();
	}
	.line1,
	.line2 {
		margin-bottom: 0.5rem;
	}
}

.nav-links {
	@include flex(center, center, column);
	flex-wrap: wrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	i {
		color: white;
		margin-right: 1.6rem;
		transform: scale(0.75);
		// text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
	}
	h2 {
		font-size: 4rem;
	}
}

.nav-links li {
	transition: all 200ms ease;
}

.nav-links:hover li {
	opacity: 0.5;
	transform: scale(0.9);
	filter: blur(3px);
}

.nav-links:hover li:hover {
	opacity: 1;
	transform: scale(1.075);
	filter: blur(0px);
}

.nav-link-item {
	@include flex(center, center, row);
	margin: 1.8rem;
}

.nav-link-item h2 {
	color: white;
	// text-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
}

.social-icons {
	padding: 2rem;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	ul {
		@include flex(space-around, center, row);
	}
	i {
		color: white;
	}
	li {
		@include expand();
	}
}

//HERO SECTION

.hero-section {
	overflow-x: hidden;
}

.hero-wrapper {
	@include width(80%);
	@include flex(center, center, row);
	flex-wrap: wrap;
}

.hero-title {
	@include flex(center, center, column);
	flex: 1 1 20rem;
	margin-bottom: 3rem;
	h1 {
		font-family: "Raleway", sans-serif;
		font-size: 3rem;
		text-align: left;
		margin-bottom: 2rem;
		margin-top: 4rem;
	}
	h2 {
		font-size: 5rem;
		margin-bottom: 2rem;
	}
}
.hero-anim-section {
	margin-top: 10rem;
	flex: 1 1 40rem;
}
.hero-anim {
	@include flex(center, center, column);
}

.box1,
.box2 {
	width: 6rem;
	height: 6rem;
	@include shadow();
}

.box1 {
	background-color: $green1;
}
.box2 {
	background-color: $green2;
}

//FOOTER

footer {
	@include flex(center, center, column);
	// background-color: #00201d;

	padding: 2rem 0;
	overflow-x: hidden;
	width: 100%;
	h3 {
		margin-bottom: 2rem;
		color: white;
	}
}

.social-icons-footer {
	padding: 2rem;
	width: 100%;
	ul {
		@include flex(space-around, center, row);
	}
	li {
		@include expand();
	}
	i {
		color: white;
	}
}

.cta-footer {
	margin: 0 3rem 2rem 3rem;
	@include flex(center, center, row);
	h1 {
		text-align: center;
		font-size: 4rem;
		margin-right: 2rem;
	}
}
