@media screen and (min-width: 1000px) {
	.contact-card {
		max-width: 50%;
	}
	.social-icons-footer {
		width: 50%;
	}
	.hero-section {
		min-height: 60vh;
	}
	.skills-section,
	.work-section,
	.contact-section {
		// height: 100vh;
		margin-bottom: 20rem;
	}
	.skills-section,
	.work-section {
		@include width(60%);
	}
}
