@media screen and (min-width: 1200px) {
	//NAV/HERO

	#logo {
		transform: scale(0.65);
	}

	.hero-section {
		min-height: 60vh;
	}

	.hero-wrapper {
		margin-top: 8rem;
	}

	.hero-title {
		@include flex(center, center, column);
		flex: 1 1 20rem;
		margin-bottom: 3rem;
		h1 {
			font-family: "Raleway", sans-serif;
			font-size: 6rem;
			margin-bottom: 2rem;
			margin-top: 4rem;
		}
		h2 {
			font-size: 7rem;
			margin-bottom: 2rem;
		}
	}

	.hero-anim-section {
		flex: 1 1 40rem;
	}

	//MULTI SECTION

	.skills-section,
	.work-section {
		// height: 100vh;
		margin-bottom: 20rem;
	}

	//WORK SECTION
	.work-section {
		@include width(50%);
		margin-top: 20rem;
	}

	.work-card {
		max-width: 45%;
		padding: 6rem;
	}

	//CLIENT LOGOS

	.client-logos {
		min-height: 30vh;
	}

	.client-logos h2 {
		top: -20%;
	}

	//SKILLS SECTION

	.skills-section {
		@include width(60%);
		margin-top: 20rem;
	}
	.skills-card:nth-child(4) {
		flex: 1;
	}

	.skills-card {
		max-width: 40rem;
	}

	//TESTIMONIAL

	.testimonial-section {
		@include width(60%);
		margin-top: 20rem;
	}

	.testimonial-wrapper {
		h2 {
			font-size: 4.4rem;
		}
		h4 {
			font-size: 2.6rem;
		}
	}

	//PHOTOGRAPHY
	.photography {
		@include width(75%);
		margin-top: 20rem;
	}

	//about SECTION
	.about-card {
		max-width: 75%;
	}

	.about-section {
		margin-bottom: 5rem;
	}
	//FOOTER
	.social-icons-footer {
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.work-section {
		@include width(95%);
	}
	.work-card {
		min-width: 30%;
	}
}
@media screen and (min-width: 800px) {
	.work-card {
		min-width: 25%;
	}
}

@media screen and (min-width: 500px) {
	.nav-links {
		h2 {
			font-size: 2rem;
			margin: 0;
		}
	}
}
