@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Raleway:ital,wght@0,300;0,400;0,500;0,592;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #353a3e;
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ecfffb;
}

h2 {
  font-size: 4rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ecfffb;
}

h3 {
  font-size: 3.5rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #ecfffb;
}

h4 {
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ecfffb;
}

h5 {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #ecfffb;
}

li,
button,
a,
p,
input,
label {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #ecfffb;
  line-height: 3.2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.btn-cta {
  border: none;
  background: white;
  padding: 2rem 6rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 4rem;
  border-radius: 4px;
}

nav {
  min-height: 5vh;
  background: -webkit-gradient(linear, left top, right top, from(#00a295), to(#5dd98a));
  background: linear-gradient(to right, #00a295, #5dd98a);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#logo {
  z-index: 2;
}

.nav-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#00a295), to(#5dd98a));
  background: linear-gradient(to bottom right, #00a295, #5dd98a);
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle(50px at 100% -10%);
          clip-path: circle(50px at 100% -10%);
}

.nav-header {
  width: 95%;
  margin: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.hide {
  overflow: hidden;
}

.line2.hide {
  display: none;
}

.appearance-toggle {
  cursor: pointer;
  z-index: 2;
}

.appearance-toggle #toggle-bg {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  cursor: pointer;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  height: 0.5rem;
  width: 4rem;
  background-color: white;
  pointer-events: none;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.burger .line1,
.burger .line2 {
  margin-bottom: 0.8rem;
}

.nav-links {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4rem;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-links li a {
  color: white;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
}

.nav-links li {
  list-style-position: inside;
}

.nav-links li:nth-child(1) {
  list-style-image: url("../svg/metro-wrench.svg");
}

.nav-links li:nth-child(2) {
  list-style-image: url("../svg/Icon awesome-hammer.svg");
}

.nav-links li:nth-child(3) {
  list-style-image: url("../svg/Icon awesome-trophy.svg");
}

.nav-links li:nth-child(4) {
  list-style-image: url("../svg/Icon material-email.svg");
}

.social-icons {
  padding: 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero-section {
  width: 95%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20rem;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero-title {
  margin: 4rem 2rem;
}

.hero-title h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-title h2 {
  font-size: 7rem;
  margin-bottom: 2rem;
}

.hero-anim-section {
  position: relative;
}

.hero-anim {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box1,
.box2 {
  width: 6rem;
  height: 6rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.box1 {
  background-color: #00a295;
}

.box2 {
  background-color: #5dd98a;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #131d1d;
  padding: 2rem 0;
  width: 100%;
}

footer h3 {
  margin-bottom: 2rem;
}

.social-icons-footer {
  padding: 2rem;
  width: 100%;
}

.social-icons-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work-section {
  width: 95%;
  margin: auto;
  margin-bottom: 20rem;
  position: relative;
}

.work-section h1 {
  margin: 0 0 2rem 2rem;
}

.work-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(420px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 5rem;
}

.work-card {
  background-color: #272b2e;
  min-height: 50vh;
  margin: 4rem 2rem;
  padding: 4rem 3rem;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-card h2,
.work-card h3,
.work-card p {
  margin-bottom: 3rem;
}

.work-card h2,
.work-card h3 {
  text-align: center;
}

.work-card h3 {
  font-size: 3rem;
}

.work-card p {
  line-height: 4rem;
}

.work-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 2rem;
}

.work-card-header img {
  max-width: 10rem;
  min-width: 8rem;
  margin-bottom: 2rem;
}

.work-card-header h2 {
  margin-bottom: 3rem;
  text-align: center;
}

.bg-text {
  position: absolute;
  top: -5%;
  left: 0;
  -webkit-transform: translate(-10%, -50%);
          transform: translate(-10%, -50%);
  opacity: 0.1;
  font-size: 20rem;
  text-align: center;
}

#work-bg-circle {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: -50%;
}

.skills-section {
  width: 95%;
  margin: auto;
  position: relative;
  margin-bottom: 20rem;
}

.skills-section h1 {
  margin: 0 0 2rem 2rem;
}

.skills-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills-card {
  background-color: #272b2e;
  min-height: 50vh;
  margin: 4rem 2rem;
  padding: 2rem;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, #00a295, #5dd98a);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-card h3 {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}

.skills-card .icons-collection {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.icons-collection svg path {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.icons-collection:hover svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.5;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.icons-collection:hover svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
}

.top-icon {
  position: relative;
  margin-bottom: 3rem;
}

.top-icon svg {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  left: 50%;
}

.icon-bg {
  background-color: #353a3e;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.design-bg {
  position: absolute;
  top: 75%;
  left: -10%;
  z-index: -1;
}

.contact-section {
  width: 95%;
  margin: auto;
  margin-bottom: 10rem;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrapper h1 {
  text-align: center;
  margin-bottom: 4rem;
}

.contact-card {
  background-color: #272b2e;
  min-height: 50vh;
  padding: 3rem;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom right, #00a295, #5dd98a);
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-card h3 {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}

.contact-card a {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card p {
  text-align: center;
  line-height: 3.6rem;
}

.about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-header img {
  margin: 0 2rem 3rem 0;
}

body.light {
  background-color: #ecfffb;
}

.hero-title.light {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.hero-title.light h1,
.hero-title.light h2 {
  color: #353a3e;
}

.hero-anim.light svg path {
  stroke: #353a3e;
}

.bg-text.light {
  color: #353a3e;
  opacity: 0.2;
}

.work-card.light {
  background-color: white;
  border: 1px solid #dbdbdb;
}

.work-card.light h2,
.work-card.light h3,
.work-card.light p {
  color: #353a3e;
}

.skills-card.light,
.contact-card.light {
  background-color: white;
}

.skills-card.light h3,
.skills-card.light p,
.skills-card.light a,
.contact-card.light h3,
.contact-card.light p,
.contact-card.light a {
  color: black;
}

.skills-card.light .top-icon .icon-bg {
  background-color: black;
}

.icons-collection.light svg path {
  fill: black;
}

.toggle-appearance.light svg path {
  fill: white;
}

.contact-wrapper.light h1 {
  color: #353a3e;
}

@media screen and (min-width: 1000px) {
  .contact-card {
    max-width: 50%;
  }
  .social-icons-footer {
    width: 50%;
  }
  .skills-section,
  .work-section,
  .contact-section {
    height: 100vh;
    margin-bottom: 20rem;
  }
  .skills-section,
  .work-section {
    width: 60%;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */